.nav{

    text-decoration: none;
    padding-left: 35px;
    padding-right: 25px;
}


#body{
    
}
.navdiv{
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
.logo a{
    font-size: 40px;
    font-weight: 400;
    color: #000;
    text-decoration: none;
}
li a{
    font-size: 18px;
    font-weight:bold ;
    margin-right: 95px;
    text-decoration: none;
    color: #000;

}
li{
    list-style: none;
    display: inline-block;
    text-decoration: none;
}
.navs{
    display: flex;
    align-items: center;
    justify-content: space-between;
    display: inline - block;
    background-color: #65A15B;

}
.welcome{
    text-decoration: none;
}
.navs a{
    text-decoration: none;
    color: #000;
}
span{
    font-size: xx-large;
    color:green;
}
#texton{
    position: absolute;
    transform: translate(-50%,-50%);
    text-align: center;
    left: 30%;
    top: 20%;
    padding: 0.5rem;

}
#Terradium{
    display: flex;
}
.img3{
    width: 400px;
    height:350px;
}
#forpencilp{
    display: flex;
    display: grid;
    background-color: azure;
}

#grow{
    display: flex;
}



#Sale{
    display: flex;
    gap:18% ;

}
#cacti{
 text-align: justify;
}

#cacti{
    display: flex;
    gap: 5%;
}
#Houseplant{
    display: flex;
    gap: 8%;
    
}
#mains{
    display: flex;
    gap: 8%;
}
.cact{
    width: 300px;
    height: 350px;
}
#all{
    display: flex;
    gap: 30px;
    padding-left: 40%;
}
#groups{
    display: flex;
}
.vases{
    width:350px ;
    height:300px ;
}
#group1{
    display: flex;
    gap: 15px;
    
}
#group2{
    display: flex;
     
}
.vas{
    /* width: 600px;
    height: 500px; */
}
#group3{
    display: flex;
}
#group4{
    display: flex;
}
#group5{
    display: flex;
}
#picss{
    display: flex;
    gap: 15%;
}
.leaf{
    width: 100%;
}
#living {
    position: absolute;
    transform: translate(-50%,-50%);
    text-align: center;
    left: 50%;
    padding: 0.5rem;
    margin-top: -260px;

}
.greys{
    color: grey;
    font-size:x-large;
}
.green{
    color: green;
}
.bld{
    font-size: xx-large;

}
#move{
    padding-left: 50%;
}
.change{
    color:grey;
}
.butt{
    padding: 15px 40px;
    background-color: #6FA720;
    color: aliceblue;
    font-weight: 600;
    border-radius: 5px;
}
#bottle{
    padding-top: 5%;
}
.small{
    color: #6FA720;
    font-size: large;
    text-align: center;
}
#cactius{
    display: flex;
    gap: 30%;

}
#tree{
    margin-left: 2%;
}
.cacs{
    width: 800px; 
    height: 700px;
    margin-top: -130px;
}
.edit{

    width: 400px;
    height: 350px;
}
#Blog{
    display: flex;
    justify-content: center;
    gap: 100px;

}
#icons{
    display: flex;
}
#icon{
    display: flex;
}
.adjust{
    color: green;
    font-size: x-large;
}
#last{
    padding-left: 50%;
}
.photo{
    width: 150px;
    height: 130px;
    border-radius: 20px;
    
    


}
.cast{
    gap: 100%;
    padding-left:40%;

}
#album{
    padding-left: 40%;
    
}
#footer{
    display: flex;
    gap: 300px;
    padding-left: 10%;
}
#title{
    gap: 40%;
    display: flex;
}
#criss{
    text-align: center;
}
.butt1{
    padding: 15px 18px;
    
    color:gray;
    font-weight: 600;
    border-radius: 5px;
}
.cast{
    display: flex;
    padding-left: 20%;
}
@media screen and (min-width:280px) and (max-width: 460px){
    .nav{

        text-decoration: none;
        padding-left: 35px;
        padding-right: 25px;
        display: grid;
    }
    .navdiv{
        display: grid;
        align-items: center;
        justify-content: space-between;

}
#footer{
    display: grid;
    gap: 0px;
}
#album{
    padding-left: 0%;
    
}
.cast{
    display: grid;
    padding-left: 0%;
    margin-bottom: 0px;
    gap: 30px;
}
#Blog{
    display: grid;
    margin-left: 1px;
    font-size: xx-small;
    gap: px;


}
#cactius{
    display: grid;
    gap: 0%;

}

.cacs{
    width: 250px; 
    height: 500px;
    margin-top: 10px;
}
#group5{
    display: grid;
    margin-left: 0px;
}
#group4{
    display: grid;
}
#group3{
    display: grid;
}
#living {
    position: absolute;
    transform: translate(-20%,-40%);
    text-align: center;
    left: 10%;
    padding: 0.2rem;
    margin-top: -190px;
    gap: 0;
    
}
.butt1{
    padding: 15px 18px;
    
    color:gray;
    font-weight: 600;
    border-radius: 5px;
}
.butt{
    padding: 7px 20px;
    background-color: #6FA720;
    color: aliceblue;
    font-weight: 600;
    border-radius: 5px;
}
.leaf{
    width: 270px;
    height: 280px;
    margin-left: 0px;
}
#bottle{
    padding-top: 2%;
}
.style{
    width: 265px;

}
#picss{
    display: grid;
    gap: 15%;
}
#group2{
    display: grid;
     
}
#group1{
    display: grid;
}
.vas{
    width: 200px;
    width: 250px;
}
#all{
    display: grid;
    padding-left: 10px;
}
#Sale{
    display: grid;
    gap:0;
    

}
#grow{
    display: grid;
}
#forpencilp{
    display: grid;
    display: grid;
    background-color: azure;
}
#mains{
    display: grid;
    gap: 0;
}
#Houseplant{
    display: grid;
    
    
}
#Terradium{
    display: grid;
}
#texton{
    position: absolute;
    transform: translate(-50%,-50%);
    text-align: center;
    left: 40%;
    top: 10%;
    padding: 0.5rem;
    margin-top: 400px;

}
.edits{
    width: 200px;
    height: 250px;
}
.navdiv{
    display: grid;
    align-items: center;
    
    
}
.navs{
    display: grid;
    align-items: center;
    justify-content: space-between;
    display: inline - block;
    background-color: #65A15B;

}
.vases{
    width: 200px;
    height: 0px;

}
.img3{
    width: 200px;
    
}
.edit{
    width: 200px;

}
.cact{
    width:200px ;
    width: 150px;
}
#bottle{
    padding-top: 5%;
    margin-left: 0px;
    font-size: smaller;
}
#criss{
    text-align: center;
    font-size: x-small;
}
#tree{
    margin-left: 0px;
    font-size: small;
}


}